.event {
  padding: 100px 0px;
  background-color: #fff;
}

.odd {
  padding: 100px 0px;
  background-color: #fafafa;
}

.nav-wrapper {
  background-color: transparent;
  position: fixed;
}

.parallax {
  background-image: url('/images/background.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center 200%;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;

  .avatar {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    height: 100px;

    img {
      max-width: 100%;
    }
  }

  .sub-title {
    margin: 0 auto;
    width: 50%;
  }
}

.title-progress {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: relative;

  span {
    position: absolute;
    right: 0px;
  }

}

.progress {
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  height: 0.5rem;

  .progress-bar {
    background-color: #343a40;
  }
}

.center-bordered {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .icon-contact-wrapper {
    width: 50px;
    vertical-align: middle;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #343a40;
  }

  .info-contact {
    padding-left: 1.25rem;
  }
}

.input-field {
  padding: 8px;
  width: 100%;
}

.contact-footer {
  margin: 0 auto;
  padding: 20px 0px;
  list-style-type: none;

  li {
    padding: 0 1rem;
    display: inline-block;

    a {
      color: #343a40;
    }
  }
}

.text-copyright {
  font-size: 1.25rem;
}